::selection{background:#f0bf00;}
::-moz-selection{background:#f0bf00;}
h5.high::selection{background:#e67e22;}
h5.high::-moz-selection{background:#e67e22;}
.box{padding:30px;margin:30px;background:red;}
.redselect{}
.redselect:hover{text-decoration:underline;}
#dp{padding-top:20px;}
html,body{background-color:#76c4c6;}
.headerimg{padding:0 50vh;}
#section0{}
.sectionx{background-color:#76c4c6;}
.sectionx:nth-of-type(2n){background-color:#ffffff;}
.animate{transition:300ms linear all;}
hss5{color:white;}
p{color:#C3CAD9;}
a{color:#373B44;}
.fixed-action-btn ul{display:none;}
.fixed-action-btn:hover ul{display:block;}
.material-tooltip{display:none!important;}

.mobile-fab-tip{
	position:fixed;
	right:85px;
	padding:7px 5px 4px 5px;
	text-align:right;background-color:#323232;
	border-radius:2px;color:#FFF;opacity:0;}

.mobile-fab-tip{
	-webkit-animation:fadein 1s;
	-moz-animation:fadein 1s;
	-o-animation:fadein 1s;
	animation:fadein 1s;
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	-o-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
	-webkit-animation-delay:0.5s;
	-moz-animation-delay:0.5s;
	-o-animation-delay:0.5s;
	animation-delay:0.5s;}

	@keyframes fadein{0%{opacity:0;}100%{opacity:1;}}
	@-moz-keyframes fadein{0%{opacity:0;}100%{opacity:1;}}
	@-webkit-keyframes fadein{0%{opacity:0;}100%{opacity:1;}}
	@-o-keyframes fadein{0%{opacity:0;}100%{opacity:1;}}

	#startup{

		width:100%;height:100%;
		position:fixed;
		background-color:#76c4c6;
		-moz-user-select:none;
		-webkit-user-select:none;
		display:flex;
		align-items:center;
		justify-content:center;
		display:-webkit-box;
		display:-webkit-flex;
		-webkit-align-items:center;
		-webkit-justify-content:center;}

		.spinner-container{-webkit-animation:rotate 2s linear infinite;animation:rotate 2s linear infinite;z-index:2;}
		.spinner-container .path{stroke-dasharray:1,150;stroke-dashoffset:0;stroke:rgba(255,255,255,1);stroke-linecap:round;-webkit-animation:dash 1.5s ease-in-out infinite;animation:dash 1.5s ease-in-out infinite;}@keyframes rotate{100%{transform:rotate(360deg);}}@-webkit-keyframes rotate{100%{-webkit-transform:rotate(360deg);}}@keyframes dash{0%{stroke-dasharray:1,150;stroke-dashoffset:0;}50%{stroke-dasharray:90,150;stroke-dashoffset:-35;}100%{stroke-dasharray:90,150;stroke-dashoffset:-124;}}@-webkit-keyframes dash{0%{stroke-dasharray:1,150;stroke-dashoffset:0;}50%{stroke-dasharray:90,150;stroke-dashoffset:-35;}100%{stroke-dasharray:90,150;stroke-dashoffset:-124;}}
		#main{display:none;}

		.themecolor {
			background-color:#76c4c6 !important;
		}
		html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}