#nav {
  background-color: black;
  padding: 10px;
}

button {
  padding: 10px;
  cursor: pointer;
}

#cloudContainer {
  position: relative;
  width: 100%;
  height: 600px;
  /* Old Browsers */
    background-size: 100%;
 
  overflow: hidden;
}

.cloud {
  position: absolute;
  width: auto;
  height: 50px;
  border-radius: 50%;
}